extends layout

block content
    form(action='/'+student._id+'/edit/', method='POST')
        label First Name
        br
        input(name='firstName', type='text', placeholder=student.firstName)
        br
        label Last Name
        br
        input(name='lastName',type='text', placeholder=student.lastName)
        br
        label Age
        br
        input(name='age',type='text', placeholder=student.age)
        br
        input(type='submit', value='update')