doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block style
    script.
        UPLOADCARE_PUBLIC_KEY = "7c26f81a26677b53ce91";
    script(charset='utf-8', src='//ucarecdn.com/libs/widget/3.1.1/uploadcare.full.min.js')
  body
    block content
    //script(src='/javascripts/main.js')
    block script